<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">

    <parameter name="baseURL" value="http://testkoel.skillup.study/#home/"></parameter>
    <test name="Example Test" preserve-order="false">
        <classes>
           <!-- <class name="LoginTest"/>-->
            <class name ="HomeTests"/>
            <!--<class name="ProfilePageTests"/>-->


        </classes>
    </test>
</suite>

